In [27]:
# Creating two Python lists from the given structure

bank_list = [
    30421.13, 13100.4, 7889.2, 6291.0, 5858.32, 5415.98, 4260.82, 3716.55, 3481.65, 
    2553.75, 2153.26, 1921.73, 468.0,
]

program_list = [
    1180.58, 1180.58, 1180.58, 1180.58, 3166.88, 234.0, 234.0, 4620.37, 1237.95, 
    589.05, 694.35, 1175.17, 913.27, 518.85, 2444.3, 2452.5, 1516.05, 1182.6, 
    1017.9, 2091.15, 1390.5, 466.88, 1686.38, 888.98, 1052.33, 869.4, 1333.13, 
    2419.88, 978.07, 978.07, 581.85, 758.7, 559.8, 1235.25, 978.07, 5391.0, 
    3488.63, 6507.0, 4043.25, 4043.25, 553.05, 5416.88, 737.78, 2810.7, 1185.3, 
    4974.75, 3391.87
]

bank_list = [int(x * 100) for x in bank_list]
program_list = [int(round(x * 100)) for x in program_list]
print(sum(bank_list), sum(program_list))
print(sum(bank_list) - sum(program_list))

8753179 8753146
33

In [31]:
"""
6507 4043,25 978,07 4043,25  3488,63 5416,88 553,05 5391 	30421,13
 (3391.87) (4974.75)  (1185.30)  (2810.70)  (737.78) 	13100,4
ALL 7889.20/NR.0000314534KOM. 0.00/DAT.31.12.2024OREX TRAVEL /Warszawa 	7889,2
978.07 978.07 581.85 2419.88 1333.13 	6291
4620,37 1237,95 	5858,32
518,85 2444,3 2452,5 	5415,98
694.35 589.05 888.98 1175.17 913.27 	4260,82
1017.90 1516.05 1182.60 	3716,55
2091,15 1390,50 	3481,65
559.80 758.70 1235.25 	2553,75
466,88; 1686,38	2153,26
869,40; 1052,33	1921,73
REZERWACJE: 1488972 ORAZ 1488989 	468
"""
mapping = {3042113: [650700, 404325, 97807, 404325, 348863, 541688, 55305, 539100],
              1310040: [339187, 497475, 118530, 281070, 73778],
              788920: [788920],
              629100: [97807, 97807, 58185, 241988, 133313],
              585832: [462037, 123795],
              541598: [51885, 244430, 245250],
              426082: [69435, 58905, 88898, 117517, 91327],
              371655: [101790, 151605, 118260],
              348165: [209115, 139050],
              255375: [55980, 75870, 123525],
              215326: [46688, 168638],
              192173: [86940, 105233],
              46800: [148972, 148989]}

# for each element in mapping, check if the sum of the elements in the list is equal to the key
for key, value in mapping.items():
    if sum(value) != key:
        print(key, value, sum(value), key - sum(value))

541598 [51885, 244430, 245250] 541565 33
46800 [148972, 148989] 297961 -251161